
.form {
    border: 5px solid rgba(255, 217, 13, 0.73); /* Добавляем рамку с цветом midnightblue */
    padding: 20px; /* Задаем отступ внутри рамки */
    text-align: center;
    border-radius: 25px;
    margin: 200px;
    color: gold;

}

.form ul {
    list-style: none; /* Применяется к элементу списка внутри .form */
}


.form {
    text-align: center; /* Центрируем содержимое по горизонтали */

}

.form2 a {
    display: block; /* Размещаем каждую ссылку на новой строке */
    margin-bottom: 10px; /* Добавляем отступ между ссылками */

}

/* Стилизация кнопок (пример) */
.form2 a {
    text-decoration: none; /* Убираем стандартное оформление ссылок */
    background-color: rgba(255, 204, 0, 0.51); /* Цвет фона для кнопок */
    color: #fff; /* Цвет текста для кнопок */
    padding: 10px 20px; /* Задаем отступы внутри кнопок */
    border-radius: 5px; /* Закругляем углы кнопок */
    border-color: black;
}

.form2 a:hover {
    background-color: #ffbb3c; /* Изменяем цвет фона при наведении курсора */
}

.arrow_up {
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 5;
    width: 5%;
}


* {
    padding: 0;
    margin: 0;
}


.border-primary.rounded {
    border-color: #ffbb3c !important;
}


.btn-primary {
    background-color: darkblue;
}


.btn-equal {
    width: 100%;
    height: 100%;
}

p {
    color: gold;
}


.float-none {
    color: gold;
}


.title {
    color: gold;
}

.text-center {
    color: gold;
}


.btn.btn-primary.btn-equal#back{
    background-color: olive;
}