body {
    background: #FFC0CB;

}


.form{
    border: 5px solid  #8B0000; /* Добавляем рамку с цветом midnightblue */
   padding: 20px; /* Задаем отступ внутри рамки */
   text-align: center;


}
.form ul {
   list-style: none; /* Применяется к элементу списка внутри .form */
}


.form2 a {
    display: block; /* Размещаем каждую ссылку на новой строке */
    margin-bottom: 10px; /* Добавляем отступ между ссылками */
}

/* Стилизация кнопок (пример) */
.form2 a {
    text-decoration: none; /* Убираем стандартное оформление ссылок */
    background-color: red; /* Цвет фона для кнопок */
    color: #fff; /* Цвет текста для кнопок */
    padding: 10px 20px; /* Задаем отступы внутри кнопок */
    border-radius: 5px; /* Закругляем углы кнопок */
}

.form2 a:hover {
    background-color: #8B0000; /* Изменяем цвет фона при наведении курсора */
}
