body {
    background: #ADD8E6;
}


.form {
    border: 5px solid rgba(255, 217, 13, 0.73); /* Добавляем рамку с цветом midnightblue */
    padding: 20px; /* Задаем отступ внутри рамки */
    text-align: center;
    border-radius: 25px;
    margin: 200px;
    color: gold;

}

.form ul {
    list-style: none;
    /* Применяется к элементу списка внутри .form */
}


.form {
    text-align: center;
    /* Центрируем содержимое по горизонтали */
}

.form2 a {
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

.form2 a:hover {
    background-color: #0056b3;
}

.arrow_up {
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 5;
    width: 5%;
}


.border-primary.rounded {
    border-color: #ffbb3c !important;
}


.btn-primary {
    background-color: darkblue;
}


.btn-equal {
    width: 100%;
    height: 100%;
}

p {
    color: gold;
}


.float-none {
    color: gold;
}


.title {
    color: gold;
}

.text-center {
    color: gold;
}


.btn.btn-primary.btn-equal#back{
    background-color: olive;
}

.flower-image {
    max-height: 200px;

}

.image-container {
    max-height: 200px;

}

.image-container img {
    width: auto;
}

* {
    padding: 0;
    margin: 0;
}

.form-label.m-3 {
    color:gold;
}

.btn.btn-primary.btn-equal {
background-color: olive;
}