{% load humanize %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Исполнитель</th>
        <th>Цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ forloop.counter|add:page }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.get_in_charge_display }}</td>
        <td>${{ item.price|intcomma }}</td>
        <td>
            <button class="btn btn-info" id="expandButton_{{ forloop.counter }}" onclick="changeText_{{ forloop.counter }}()" data-bs-toggle="collapse"
                    data-bs-target="#demo-{{ forloop.counter }}">
                Развернуть
            </button>
        </td>

    </tr>
    <tr>
        <td colspan="5">
            <div id="demo-{{ forloop.counter }}" class="collapse">
                <div><p class="text-dark"><b>Описание</b>: {{ item.description }}</p></div>
                <div><p class="text-dark"><b>Доступно</b>:
                    {% if item.is_available %}
                    Да
                    {% else %}
                    Нет
                    {% endif %}
                </p></div>
                <div><p class="text-dark"><b>Гарантия</b>: {{ item.guarantee }}</p></div>
                <div class="row">
                    <div class="col-xl">
                        <a href="{% url 'service_url' item.slug %}" class="btn btn-dark">Смотреть на сайте</a>
                    </div>
                    <div class="col-xl">
                        <a href="{% url 'admin-panel:edit_service' item.slug %}"
                           class="btn btn-primary">Редактировать</a>
                    </div>
                    <div class="col-xl">
                        <a href="{% url 'admin-panel:delete_service' item.slug %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>

            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>