{% load humanize %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Фото</th>
        <th>Год выпуска</th>
        <th>Цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td>{{ forloop.counter|add:page }}</td>
        <td>{{ item.brand }}</td>
        <td>{{ item.model }}</td>
        <td>
            <div class="image-container"><img src="{{ item.photo.url }}" class="flower-image img-fluid"></div>
        </td>
        <td>{{ item.year_produced }}</td>
        <td>${{ item.price|intcomma }}</td>
        <td>
            <button class="btn btn-info" id="expandButton_{{ forloop.counter }}" onclick="changeText_{{ forloop.counter }}()" data-bs-toggle="collapse"
                    data-bs-target="#demo-{{ forloop.counter }}">
                Развернуть
            </button>
        </td>

    </tr>
    <tr>
        <td colspan="7">
            <div id="demo-{{ forloop.counter }}" class="collapse">
                <div><p class="text-dark"><b>Описание</b>: {{ item.description }}</p></div>
                <div><p class="text-dark"><b>Пробег</b>: {{ item.distance|intcomma }} км</p></div>
                <div><p class="text-dark"><b>Гарантия</b>: {{ item.guarantee }}</p></div>
                <div><p class="text-dark"><b>Тип двигателя</b>: {{ item.get_engine_type_display }}</p></div>
                <div><p class="text-dark"><b>Мощность двигателя</b>: {{ item.engine_power }} л.с.</p></div>
                <div><p class="text-dark"><b>Цвет</b>: {{ item.get_color_display }}</p></div>
                <div><p class="text-dark"><b>Тип кузова</b>: {{ item.get_body_type_display }}</p></div>
                <div class="row">
                    <div class="col-xl">
                        <a href="{% url 'moto_url' item.slug%}" class="btn btn-dark">Смотреть на сайте</a>
                    </div>
                    <div class="col-xl">
                        <a href="{% url 'admin-panel:edit_motorcycle' item.slug %}" class="btn btn-primary">Редактировать</a>
                    </div>
                    <div class="col-xl">
                        <a href="{% url 'admin-panel:delete_motorcycle' item.slug %}" class="btn btn-danger">Удалить</a>
                    </div>
                </div>

            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>