{% extends 'main_app/index.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container mt-5">
        <h1>Contact Information</h1>
        <div class="about-us">
            <p>Главный офис: +1 (555) 987-6543</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><strong>Name</strong> Jane Smith</li>
            <li class="list-group-item"><strong>Email</strong>: jane.smith@example.com</li>
            <li class="list-group-item"><strong>Phone Number</strong>: +1 (555) 987-6543</li>
            <li class="list-group-item"><strong>Address</strong>: 5678 Maple Avenue, Imaginary City, Wonderland 12345</li>
            <li class="list-group-item"><strong>Telegram</strong>: @JaneWonderland</li>
            <li class="list-group-item"><strong>WhatsApp</strong>: +1 (555) 987-6543</li>
            <li class="list-group-item"><strong>Skype</strong>: jane.smith_skype</li>
        </ul>
    </div>
</main>
{% endblock content %}