{% extends 'main_app/index.html' %}
{% load static %}
{% block content %}
<main>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
    <div class="about-us"><p>TELEPHONE - +6565646545</p></div>
</main>

{% endblock content %}