{% extends 'main_app/base.html' %}
{% load static %}


{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="border-primary rounded custom-shadow ">
                    <img src="{{ car.photo.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h1 class="card-title">{{ car.brand }} {{ car.model }}</h1>
                        <p class="card-text text-truncate">Описание: {{ car.description }}</p>
                        <p class="product_id">id: {{ car.pk }}</p>
                        <p class="card-text">Тип двигателя: {{ car.engine_type }}</p>
                        <div class="d-flex justify-content-between">
                            <p><strong>{{ car.price }} $</strong></p>
                            <div>
                                {% if is_moderator %}
                                <a href="{% url 'edit_moto' slug=car.slug %}" class="btn btn-primary">Редактировать</a>
                                <a href="{% url 'delete_moto' slug=car.slug %}" class="btn btn-danger">Удалить</a>
                                {% endif %}

                                <div style="height:100px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock content %}