<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Выберите категорию</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body d-flex justify-content-around">
        <a class="btn btn-dark" href="{% url 'publish_car' %}">Автомобиль</a>
        <a class="btn btn-dark" href="{% url 'publish_moto' %}">Мотоцикл</a>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
      </div>

    </div>
  </div>
</div>