{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container">
        <h1 class="display-6 p-3"><strong>Продать мой {{ vehicle }}</strong></h1>
    </div>
    <form class="description" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row align-items-center">
            {% for field in form %}
            <div class="mb-3">
                <label class="col-sm-2 col-form-label col-form-label-lg" for="{{ field.auto_id }}">
                    {{ field.label }}
                </label>
                <div class="col-sm-10">
                    {{ field }}
                    {% if field.name == "year_produced" %}
                    <label class="col-sm-2 col-form-label col-form-label-lg">Год:
                        <output class="d-inline" id="value"></output>
                    </label>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
    <div>
        <div style="height:100px;"></div>
    </div>
</main>
<script>
const value = document.querySelector("#value");
const input = document.querySelector("#id_year_produced");
value.textContent = input.value;
input.addEventListener("input", (event) => {
  value.textContent = event.target.value;
});
</script>
{% endblock %}