{% load static %}


<div class="col-lg-4 col-md-6 p-4">
    <div class="card border-primary rounded custom-shadow">
        <img src="{{ item.photo.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="{{ item.get_absolute_url }}">
                <p class="card-title">{{ item.brand }} {{ item.model }}</p>
            </a>
            <p class="card-text text-truncate">Описание: {{ item.description }}</p>
            <p class="product_id">id: {{ item.pk }}</p>
            <p class="card-text">Тип двигателя: {{ item.engine_type }}</p>
            <div class="d-flex justify-content-between">
                <p><strong>{{ item.price }} $</strong></p>
                <a href="#" class="btn add-to-cart">
                    <img class="mx-1" src="{% static 'static_imgs/add-to-favorites-icon.svg' %}" alt="Favorite icon"
                         width="32" height="32">
                </a>
            </div>
        </div>
    </div>
</div>