{% load static %}
{% load simple_tags %}
{% load humanize %}
{% if is_authenticated %}
{% in_favorite item user.pk as fav %}
{% endif %}
<div class="col-lg-4 col-md-6 p-4">
    <div class="my_card card border-primary rounded custom-shadow">
        <a href="{{ item.get_absolute_url }}">
            <img src="{{ item.photo.url }}" class="card-img-top"
                 alt="image of {{ item|model_name }} {{ item.brand }} {{ item.model }}">
        </a>
        <div class="card-body">
            <a href="{{ item.get_absolute_url }}">
                <p class="card-title">{{ item.brand }} {{ item.model }}</p>
            </a>
            <p class="card-text text-truncate">Описание: {{ item.description }}</p>
            <p class="product_id">id: {{ item.pk }}</p>
            <p class="card-text">Тип двигателя: {{ item.get_engine_type_display }}</p>
            <div class="d-flex justify-content-between">
                <p><strong>$ {{ item.price|intcomma }}</strong></p>
                {% if is_authenticated %}
                <a id="favorite" data-item-id="{{ item.pk }}" data-vehicle-type="{{ item|model_name }}"
                   class="btn add-to-cart">
                    <img class="mx-1 enlage" id="myimage_{{ item.pk }}" src="{% static fav %}" alt="Favorite icon"
                         width="32" height="32">
                </a>
                <svg class="heart_filled">
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 9.5 2 7.02 4.02 5 6.5 5c1.74 0 3.41.81 4.5 2.09C12.09 5.81 13.76 5 15.5 5 17.98 5 20 7.02 20 9.5c0 2.78-3.4 5.86-8.55 10.54L12 21.35z"/>
                </svg>
                {% endif %}
            </div>
        </div>
    </div>
</div>