{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'custpanel/css/blue_model.css' %}">
    <title>Change Vehicles</title>
</head>
<body>
<div class="container">
    <div class="form-column">
        <div class="form">
            <h2>Change Car</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form_centre">
                    <label for="car">Select a car to Change:</label>
                    <select name="car" id="car">
                        {% for car in cars %}
                        <option value="{{ car.id }}">{{ car.brand }} - {{ car.model }}- ({{ car.seller.name }})</option>
                        {% endfor %}
                    </select>
                </div>

                {{ form.brand.label_tag }} {{ form.brand }}<br>
                {{ form.model.label_tag }} {{ form.model }}<br>
                {{ form.description.label_tag }} {{ form.description }}<br>
                {{ form.used_car.label_tag }} {{ form.used_car }}<br>
                {{ form.distance.label_tag }} {{ form.distance }}<br>
                {{ form.year_produced.label_tag }} {{ form.year_produced }}<br>
                {{ form.guarantee.label_tag }} {{ form.guarantee }}<br>
                {{ form.engine_type.label_tag }} {{ form.engine_type }}<br>
                {{ form.engine_power.label_tag }} {{ form.engine_power }}<br>
                {{ form.color.label_tag }} {{ form.color }}<br>
                {{ form.price.label_tag }} {{ form.price }}<br>
                {{ form.body_type.label_tag }} {{ form.body_type }}<br>
                {{ form.drive_type.label_tag }} {{ form.drive_type }}<br>
                {{ form.photo.label_tag }} {{ form.photo }}<br>
                {{ form.seller.label_tag }} {{ form.seller }}<br>

                <button type="submit" class="btn">Change Car</button>
            </form>
            <a href="{% url 'models' %}" class="btn">Back to  Models</a>
        </div>
    </div>

    <div class="form-column">
        <div class="form">
            <h2>Change Motocycle</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form_centre">
                    <label for="motocycle">Select a motocycle to Change:</label>
                    <select name="motocycle" id="motocycle">
                        {% for motocycle in motocycles %}
                        <option value="{{ motocycle.id }}">{{ motocycle.brand }} - {{ motocycle.model }} - ({{
                            motocycle.seller.name }})
                        </option>
                        {% endfor %}
                    </select>
                </div>

                {{ motocycle_form.brand.label_tag }} {{ motocycle_form.brand }}<br>
                {{ motocycle_form.model.label_tag }} {{ motocycle_form.model }}<br>
                {{ motocycle_form.description.label_tag }} {{ motocycle_form.description }}<br>
                {{ motocycle_form.used_car.label_tag }} {{ motocycle_form.used_car }}<br>
                {{ motocycle_form.distance.label_tag }} {{ motocycle_form.distance }}<br>
                {{ motocycle_form.year_produced.label_tag }} {{ motocycle_form.year_produced }}<br>
                {{ motocycle_form.guarantee.label_tag }} {{ motocycle_form.guarantee }}<br>
                {{ motocycle_form.engine_type.label_tag }} {{ motocycle_form.engine_type }}<br>
                {{ motocycle_form.engine_power.label_tag }} {{ motocycle_form.engine_power }}<br>
                {{ motocycle_form.color.label_tag }} {{ motocycle_form.color }}<br>
                {{ motocycle_form.price.label_tag }} {{ motocycle_form.price }}<br>
                {{ motocycle_form.body_type.label_tag }} {{ motocycle_form.body_type }}<br>
                {{ motocycle_form.drive_type.label_tag }} {{ motocycle_form.drive_type }}<br>
                {{ motocycle_form.photo.label_tag }} {{ motocycle_form.photo }}<br>
                {{ motocycle_form.seller.label_tag }} {{ motocycle_form.seller }}<br>

                <button type="submit" class="btn">Change Motocycle</button>
            </form>
            <a href="{% url 'models' %}" class="btn">Back to  Models</a>
        </div>
    </div>

    <div class="form-column">
        <div class="form">
            <h2>Change Service</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form_centre">
                    <label for="service">Select a service to Change:</label>
                    <select name="service" id="service">
                        {% for s in service %}
                        <option value="{{ s.id }}">{{ s.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                {{ service_form.title.label_tag }} {{ service_form.title }}<br>
                {{ service_form.description.label_tag }} {{ service_form.description }}<br>
                {{ service_form.guarantee.label_tag }} {{ service_form.guarantee }}<br>
                {{ service_form.price.label_tag }} {{ service_form.price }}<br>
                {{ service_form.is_available.label_tag }} {{ service_form.is_available }}<br>
                {{ service_form.in_charge.label_tag }} {{ service_form.in_charge }}<br>
                {{ service_form.cars_service.label_tag }} {{ service_form.cars_service }}<br>
                {{ service_form.motorcycles_service.label_tag }} {{ service_form.motorcycles_service }}<br>

                <button type="submit" class="btn">Change Service</button>

            </form>
            <a href="{% url 'models' %}" class="btn">Back to  Models</a>
        </div>

    </div>


    <div class="form-column">
        <div class="form">
            <h2>Change User</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form_centre">
                    <label for="user">Select a user to Change:</label>
                    <select name="user" id="user">
                        {% for s in user %}
                        <option value="{{ s.id }}">{{ s.name }} - {{ s.second_name }} - {{ s.surname }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% csrf_token %}
                {{ user_form.title.label_tag }} {{ user_form.title }}
                <br>
                {{ user_form.name.label_tag }} {{ user_form.name }}
                <br>
                {{ user_form.second_name.label_tag }} {{ user_form.second_name }}
                <br>
                {{ user_form.surname.label_tag }} {{ user_form.surname }}
                <br>
                {{ user_form.age.label_tag }} {{ user_form.age }}
                <br>
                {{ user_form.photo.label_tag }} {{ user_form.photo }}
                <br>
                {{ user_form.date_registration.label_tag }} {{ user_form.date_registration }}
                <br>
                {{ user_form.blacklist.label_tag }} {{ user_form.blacklist }}
                <br>
                {{ user_form.sold.label_tag }} {{ user_form.sold }}
                <br>
                {{ user_form.favorite.label_tag }} {{ user_form.favorite }}
                <br>
                {{ user_form.email.label_tag }} {{ user_form.email }}
                <br>
                <br>
                <button type="submit" class="btn">Change User</button>
            </form>
            <a href="{% url 'models' %}" class="btn">Back to  Models</a>
        </div>
