{% extends 'custpanel/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Подтвердите удаление</h5>
                    <p class="card-text">Вы уверены, что хотите удалить <strong>{{ item }}</strong>?</p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" value="Удалить" class="btn btn-danger">
                        <a href="{% url 'admin-panel:admin_home' %}" class="btn btn-secondary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}