{% extends 'custpanel/base.html' %}


{% block content %}
<h1 class="text-center">{{ title }}</h1>
<a href="{% url 'admin-panel:admin_home' %}" class="btn btn-warning">Вернуться на главную</a>
<div class="container">

    <div class="form-column">
        <div class="form">
            <h2><strong>Создать новое объявление: {{ vehicle|capfirst }}</strong></h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
            <button class="btn btn-primary" type="submit">Create</button>
            <br>
        </div>
    </div>

</div>
{% endblock %}


<div class="container">
    <div class="form-column">
        <div class="form">
            <h2>Add New Car</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.brand.label_tag }} {{ form.brand }}<br>
                {{ form.model.label_tag }} {{ form.model }}<br>
                {{ form.description.label_tag }} {{ form.description }}<br>
                {{ form.used_car.label_tag }} {{ form.used_car }}<br>
                {{ form.distance.label_tag }} {{ form.distance }}<br>
                {{ form.year_produced.label_tag }} {{ form.year_produced }}<br>
                {{ form.guarantee.label_tag }} {{ form.guarantee }}<br>
                {{ form.engine_type.label_tag }} {{ form.engine_type }}<br>
                {{ form.engine_power.label_tag }} {{ form.engine_power }}<br>
                {{ form.color.label_tag }} {{ form.color }}<br>
                {{ form.price.label_tag }} {{ form.price }}<br>
                {{ form.body_type.label_tag }} {{ form.body_type }}<br>
                {{ form.drive_type.label_tag }} {{ form.drive_type }}<br>
                {{ form.photo.label_tag }} {{ form.photo }}<br>
                {{ form.seller.label_tag }} {{ form.seller }}<br>
                <button type="submit">Create</button>
                <br>
            </form>
        </div>
    </div>

    <div class="form-column">
        <div class="form">
            <h2>Add New Motocycle</h2>
            <form method="post">
                {% csrf_token %}
                {{ motocycle_form.brand.label_tag }} {{ motocycle_form.brand }}<br>
                {{ motocycle_form.model.label_tag }} {{ motocycle_form.model }}<br>
                {{ motocycle_form.description.label_tag }} {{ motocycle_form.description }}<br>
                {{ motocycle_form.used_car.label_tag }} {{ motocycle_form.used_car }}<br>
                {{ motocycle_form.distance.label_tag }} {{ motocycle_form.distance }}<br>
                {{ motocycle_form.year_produced.label_tag }} {{ motocycle_form.year_produced }}<br>
                {{ motocycle_form.guarantee.label_tag }} {{ motocycle_form.guarantee }}<br>
                {{ motocycle_form.engine_type.label_tag }} {{ motocycle_form.engine_type }}<br>
                {{ motocycle_form.engine_power.label_tag }} {{ motocycle_form.engine_power }}<br>
                {{ motocycle_form.color.label_tag }} {{ motocycle_form.color }}<br>
                {{ motocycle_form.price.label_tag }} {{ motocycle_form.price }}<br>
                {{ motocycle_form.body_type.label_tag }} {{ motocycle_form.body_type }}<br>
                {{ motocycle_form.drive_type.label_tag }} {{ motocycle_form.drive_type }}<br>
                {{ motocycle_form.photo.label_tag }} {{ motocycle_form.photo }}<br>
                {{ motocycle_form.seller.label_tag }} {{ motocycle_form.seller }}<br>
                <button type="submit" name="Motocycle_create">Create</button>
                <br>
                <a href="{% url 'admin-panel:models' %}" class="btn">Back to Models</a>
            </form>
        </div>
    </div>

    <div class="form-column">
        <div class="form">
            <h2>Add New Service</h2>
            <form method="post">
                {% csrf_token %}
                {{ service.title.label_tag }} {{ service.title }}<br>
                {{ service.description.label_tag }} {{ service.description }}<br>
                {{ service.guarantee.label_tag }} {{ service.guarantee }}<br>
                {{ service.price.label_tag }} {{ service.price }}<br>
                {{ service.is_available.label_tag }} {{ service.is_available }}<br>
                {{ service.in_charge.label_tag }} {{ service.in_charge }}<br>
                {{ service.cars_service.label_tag }} {{ service.cars_service }}<br>
                {{ service.motorcycles_service.label_tag }} {{ service.motorcycles_service }}<br>
                <button type="submit" name="Service_create">Create</button>
                <br>
            </form>
        </div>
    </div>

    <div class="form-column">
        <div class="form">
            <h2>Add New User</h2>
            <form method="post">
                {% csrf_token %}
                {{ user.name.label_tag }} {{ user.name }}<br>
                {{ user.second_name.label_tag }} {{ user.second_name }}<br>
                {{ user.surname.label_tag }} {{ user.surname }}<br>
                {{ user.age.label_tag }} {{ user.age }}<br>
                {{ user.photo.label_tag }} {{ user.photo }}<br>
                {{ user.date_registration.label_tag }} {{ user.date_registration }}<br>
                {{ user.blacklist.label_tag }} {{ user.blacklist }}<br>
                {{ user.sold.label_tag }} {{ user.sold }}<br>
                {{ user.favorite.label_tag }} {{ user.favorite }}<br>
                {{ user.email.label_tag }} {{ user.email }}<br>
                <button type="submit" name="User_create">Create</button>
                <br>
            </form>
        </div>
    </div>
</div>

