{% extends 'custpanel/base.html' %}
{% load static %}
{% load simple_tags %}
{% block content %}
<a href="{% url 'admin-panel:admin_home' %}" class="btn btn-warning m-5 btn-equal">Вернуться на главную</a>

<div class="container">
    <div class="form-column">
        <div class="formH">
            <h2 class="text-light">Удалить записи</h2>

            <form method="post" action="{% url 'admin-panel:delete' %}">
                <div class="position-relative mb-3">
                    <div class="position-absolute top-0 end-0">
                        <button type="submit" class="btn btn-danger btn-equal">Удалить записи</button>
                    </div>
                </div>
                {% csrf_token %}
                {% for model in items %}
                <div class="form_centre">
                    <label class="form-label m-3" for="{{model.0|model_name}}">Выберите записи: <b>
                        {{model.0|model_name|capfirst}}</b>
                    </label>
                    <select class="form-select" name="{{model.0|model_name}}" id="{{model.0|model_name}}" multiple
                            size="10">
                        {% for item in model %}
                        <option value="{{ item.id }}">{{ item }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% endfor %}
                <div class="position-relative">
                    <div class="position-absolute top-0 end-0">
                        <button type="submit" class="btn btn-danger btn-equal">Удалить записи</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}