{% extends 'custpanel/base.html' %}
{% block content %}
<div class="form">
    <h2>{{ title }}</h2>
    <p>Выберите категорию</p>
    <div class="form2">
        <div class="container">
            <a href="{% url 'admin-panel:list-cars' %}" class="btn btn-primary">Список машин</a>
            <a href="{% url 'admin-panel:list-motorcycles' %}" class="btn btn-primary">Список мотоциклов</a>
            <a href="{% url 'admin-panel:list-services' %}" class="btn btn-primary">Список Услуг</a>
        </div>
        <div class="container">
            <a href="{% url 'admin-panel:create-car' %}" class="btn btn-primary">Создать машин</a>
            <a href="{% url 'admin-panel:create-motorcycle' %}" class="btn btn-primary">Создать мотоциклов</a>
            <a href="{% url 'admin-panel:create-service' %}" class="btn btn-primary">Создать Услуг</a>
        </div>
        <a href="{% url 'admin-panel:delete' %}" class="btn btn-primary">Удалить модели</a>
        <br>
    </div>
    <a href="{% url 'home' %}" class="btn btn-primary">Вернуться на сайт</a>
</div>
{% endblock %}
