{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'custpanel/css/list.css' %}">
    <title>Car Models List</title>
</head>
<body class="car-container">
    <table class="car-table">
        <thead>
            <h1>Car Models List</h1>
            <tr>
                <th>#</th>
                <th>Марка</th>
                <th>Модель</th>
                <th>Картинка</th>
            </tr>
        </thead>
        <tbody>
            {% for el in news %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ el.brand }}</td>
                <td>{{ el.model }}</td>
                <td><img src="{{ el.photo.url }}" class="flower-image"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="car-table">
        <thead>
            <h1>Motocycle Models List</h1>
            <tr>
                <th>#</th>
                <th>Марка</th>
                <th>Модель</th>
                <th>Картинка</th>
            </tr>
        </thead>
        <tbody>
            {% for motocycle in motocycles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ motocycle.brand }}</td>
                <td>{{ motocycle.model }}</td>
                <td><img src="{{ motocycle.photo.url }}" class="flower-image"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

 <table class="car-table">
        <thead>
            <h1>Service Models List</h1>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Гарантийный срок</th>
            </tr>
        </thead>
        <tbody>
            {% for service in service %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.price }}</td>
                <td>{{ service.guarantee }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

<table class="car-table">
        <thead>
            <h1>Service Models User</h1>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>email</th>

            </tr>
        </thead>
        <tbody>
            {% for user in user %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.second_name }}</td>
                <td>{{ user.email }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
