{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'custpanel/css/models.css' %}">

    <title>Car Models</title>
</head>
<body class="animated-background">

    <div class="form">
        <h2>Models</h2>
        <div class="form2">
            <a href="{% url 'admin-panel:create' %}" class="btn">Create  Models</a>
            <a href="{% url 'admin-panel:delete' %}" class="btn">Delete  Models </a>
            <a href="{% url 'admin-panel:change' %}" class="btn">Change  Models </a>
            <a href="{% url 'admin-panel:list' %}" class="btn">List  Models </a>
            <br>
        </div>
        <a href="{% url 'home' %}" class="btn">Back to home</a>

</div>
</body>
</html>
