<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% for page_num in page_range %}
                        {% if page_num %}
                            {% if items.number == page_num %}
                                <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>